.tirHeader {
  display: flex;
}

.h1Tir {
  padding-top: 40px;
  margin-left: 40px;
  font-size: 50px;
}

.h1Choose {
  padding-top: 40px;
  margin-left: 450px;
  font-size: 50px;
}

.InfoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Contracts {
  display: flex;
  
  justify-content: center;
  margin-top: 20px;
}


.InfoVideo video {
  width: 300px;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 30px;
}

.InfoItem {
  margin-bottom: 20px;
}

.InfoItem img {
  max-width: 400px; /* Das Bild wird auf die maximale Breite des Containers beschränkt */
  height: 400px; /* Die Höhe wird automatisch angepasst, um das Seitenverhältnis beizubehalten */
  border-radius: 10px; /* Abgerundete Ecken für das Bild */
}

.icon-with-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Abstand zwischen den Icon-Text-Paaren */
}

.icon-with-text svg {
  width: 64px; /* Kleinere Größe für die Icons */
  height: 64px; /* Kleinere Größe für die Icons */
}

.icon-with-text span {
  margin-left: 10px; /* Abstand zwischen Icon und Text */
}

.InfoHeader {
  font-size: 30px; /* Größe der Überschriften */
  font-weight: bold; /* Fettformatierung der Überschriften */
  margin-bottom: 20px; /* Abstand unter den Überschriften */
  margin-left: 30px;
}

.InfoItem.opening-hours {
  padding-left: 30px; /* Zusätzlicher Abstand von der linken Seite */
}
.opening-hours-info {
  margin-left: 30px; /* Abstand von links für die p-Tags der Öffnungszeiten */
  padding: 10px;
  font-size: 30px;
}