.course-container {
  width: 420px; /* Breite der Karte */
  height: 220px; /* Höhe der Karte */
  margin-bottom: 20px; /* Abstand zwischen den Karten */
  margin-left: 30px;
}

.course-card {
  width: 100%; /* Vollständige Breite verwenden */
  height: 100%; /* Vollständige Höhe verwenden */
  border-radius: 10px; /* Abgerundete Ecken */
  overflow: hidden; /* Überlauf ausblenden */
  position: relative; /* Position relativ für den Titel */
}

.course-title {
  font-size: 36px; /* Schriftgröße des Titels erhöht */
  color: #ffffff; /* Weiße Textfarbe */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); /* Textschatten */
  position: absolute; /* Position absolut */
  top: 50%; /* Zentriert vertikal */
  left: 50%; /* Zentriert horizontal */
  transform: translate(-50%, -50%); /* Zentriert horizontal und vertikal */
  white-space: nowrap; /* Kein Zeilenumbruch */
  z-index: 1; /* Über dem Bild */
}

.course-image {
  width: 100%; /* Vollständige Breite verwenden */
  height: 100%; /* Vollständige Höhe verwenden */
  object-fit: cover; /* Das Bild wird proportioniert, um den gesamten Bereich zu füllen */
  border: none; /* Kein Rahmen */
}
